*{
    margin: 0%;
    padding: 0%;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: dodgerblue;
}

#logo{
    margin: 10px 20px;
}


#menu{
    display: none;
  }

.fa-bars{
    margin: 0 20px 10px;
    color: white;
    font-size: 20px;
}

#container{
    width: 480px;
    height: 2000px;
}


@media all and (min-width: 1168px) {

    .fa-bars{
        display: none;
    }

    #nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: dodgerblue;
    }

    #menu{
        display: block;
        margin-left: 400px;
    }
   
    .navPC{
        color: aliceblue;
        margin: 0 20px 10px;
    }  
   
}

@media all and (max-width: 760px) {

    #menu{
      display: none;
    }
}