*{
    margin: 0%;
    padding: 0%;
}

/* header */
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: dodgerblue;
}

#logo{
    margin: 10px 20px;
}


#menu{
    display: none;
  }

.fa-bars{
    margin: 0 20px 10px;
    color: white;
    font-size: 20px;
}

/* main */
.container{
    width: 100%;
}

.colonna{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* min-height: 600px; */
    /* debug */
    /* background-color: aquamarine; */
}

.card{
    width: 100%;
    border-radius: 20px;
    margin: 20px 20px 0 20px;
    /* debug */
    background-color: rgb(186, 228, 255);
}

.card-title{
    font-size: 2rem;
    
}

.h1-demo{
    text-align: center;
    margin: 40px 0 30px;
    color: dodgerblue;
}

.card-p{
    width: 70%;
    margin: auto;
    line-height: 30PX;
}

.card-image{
    margin-left: 15%;
    width: 250px;
}

.card-bottom{
    width: 40%; 
    padding: 5px;
    text-align: center;
    border-radius: 10%;
}

.bottom-appstore{
    margin: 40px 30% 30px;
    color: aliceblue;
    background-color: dodgerblue;
}

.bottom-cardbenefit{
    font-size: 2rem;
}


.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
    color: dodgerblue;
    font-size: 100px;
    margin-left: 35%;
    margin-top: 50px
}




/* sezione1 */
.container-planning{
    width: 100%;
    background-color: rgb(151, 149, 225);
    color: white;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 100px;
}

.h1-planning{
    text-align: center;
    margin: auto;
    color: white;
}

.image1-planning, .image2-planningcard{
    margin-left: 5%;
    width: 90%;
}

.container-planningcard{
    width: 90%;
    margin: auto;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    background-color: white;
    border-radius: 20px;
}

.p-planningcard, .h1-planningcard{
    color: black;
    text-align: center;
}


.fa-arrow-down-long{
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40%;
    padding: 10px;
    font-size: 60px;
    width: 60px;
    text-align: center;
    background-color: rgb(151, 149, 225);
    border-radius: 100px;
}

/* SEZIONE3 */

.container-partner{
    width: 100%;
    background-color: white;
    color: black;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 100px;
}

.p-TESTIMONIALS{
    margin-left: 35%;
    margin-bottom: 20PX;
}

.h1-partner{
    text-align: center;
    margin: auto;
    width: 60%;
    margin: auto;
    color: rgb(151, 149, 225);
}

.p-partner{
    margin-top: 40px;
    text-align: center;
}

.container-testimonial{
    width: 80%;
    margin: auto;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    background-color: rgb(151, 149, 225);
    color: white;
    border-radius: 20px;
    padding-bottom: 50px;
}

.testimonial1{
    margin-top: 50px;
    width: 70%;
    /* height: 250px; */
    border-radius: 100%;
}

.p-testimonials{
    font-size: 2rem;
    line-height: 50px;
    text-align: center;
}


.h1-testimonials{
    text-align: center;
    margin: auto;
    color: white;
}

/* sezione 4 */
.container-benefit{
    background-color: rgb(151, 149, 225);
    color: white;
    padding-top: 40px;
    padding-bottom: 50px;
}

.h1-benefit{
    text-align: center;
    margin: auto;
    width: 60%;
    margin: auto;
    color: white;
}

.container-cardbenefit{
    justify-content: flex-start;
    width: 80%;
    margin: auto;
    margin-top: 100px;
    /* margin-bottom: 100px; */
    background-color: white;
    border-radius: 20px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.h1-number-cardbenefit{
    margin: auto;
    margin-left: 16%;
    font-size: 4rem;
    color: rgb(151, 149, 225);
}

.h2-cardbenefit{
    color: rgb(151, 149, 225);
    margin-left: 15%;
    margin-top: 10%;
    font-size: 2rem;
}

.p-cardbenefit{
    color: black;
    margin-top: 40px;
    line-height: 40px;
}

.bottom-cardbenefit{
    color: white;
    background-color: rgb(151, 149, 225);
    margin-top: 40px;
    margin-left: 15%;
}

/*  main sezione5 */
.container-aboutus{
    margin: auto;
    padding-top: 50px;
}

.h1-aboutus{
    margin-left: 15%;
    font-size: 4rem;
    color: rgb(151, 149, 225);
}

.p-aboutus{
    color: black;
    margin-top: 40px;
    line-height: 40px;
}

.image-aboutus{
    margin-left: 15%;
    margin-top: 40px;
    width: 50%;
    border-radius: 60%;
}

.p-aboutus-right{
    font-size:  2rem;
    color:  rgb(151, 149, 225);
    margin-top: 40px;
    line-height: 60px;
}

.bottom-aboutus{
    background-color:  rgb(151, 149, 225);
    color: aliceblue;
    margin-top: 40px;
    padding: 2%;
    margin-left: 15%;
    border-radius: 5%;
}

/* sezione 6 */
.container-start{
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    background-color: rgb(151, 149, 225);
    color: aliceblue;
}

.h1-start{
    font-weight: 100;
    margin-left: 30%;
}

.h1-slogan{
    font-size: 2rem;
    margin-top: 50px;
    margin-left: 15%;
    text-align: center;
    width:70%;
}

.h1-free{
    font-size: 4rem;
    margin-top: 50px;
    margin-left: 15%;
    text-align: center;
    width:70%;
    color: goldenrod;
}

.p-start{
    font-size: 2rem;
    margin-top: 50px;
    text-align: center;
    line-height: 60px;
}

.bottom-getstart{
    margin-left: 30%;
    font-size: 2rem;
    margin-top: 50px;
    text-align: center;
    line-height: 60px;
    background-color: aliceblue;
    color: rgb(151, 149, 225);
}

/* footer */
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: black;
    color: aliceblue;
}

#p-footer{
    width: 90%;
    margin: auto;
    text-align: center;
    line-height: 40px;
}



/* responsive part */
@media all and (min-width: 768px) {

    /* header */
    #nav{
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: dodgerblue;
    }

    .fa-bars{
        display: none;
    }

    #menu{
        display: block;
        margin-left: 400px;
    }

    .navPC{
        color: aliceblue;
        margin: 0 20px 10px;
    }

      /* mainn section 1 */
    .row{
        display: flex;
        align-items: flex-start;
        width: 90%;
    }
/* 
    .row .colonna{
        width: 30%;
    } */

    .row .first-col .card{
        display: flex;
        justify-content: center;
        min-height: 200px;
        max-height: 1000px;
    }

    .card-image{
         width: 250px;
    }

    /* main sezione2 */
    .container-planning{
        display: flex;
        width: 100%;
        background-color: rgb(151, 149, 225);
        color: white;
        margin: auto;
        margin-top: 100px;
        padding-bottom: 100px;
    }

    .container-planningcard{
        width: 70%;
        margin: auto;
        margin-top: 100px;
        margin-right: 100px;
        /* margin-bottom: 100px; */
        background-color: white;
        border-radius: 20px;
    }

    .image1-planning, .image2-planningcard{
        margin-left:5%;
        min-width: 80%;
    }

    /* main sezione3 */

    .container-testimonial{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 50%;
        margin-right: 50%;
    }

    /* main sezione 4 */

    .container-cardbenefit{
       width: calc(80% / 3);
    }


  
}

@media all and (min-width: 480px)
{
    #nav{
        display: flex;
    }

    /* header */
    #menu{
      display: none;
    }

    .fa-bars{
        display: block;
    }

    /* mainn section 1 */
    .row{
        display: flex;
        width: 90%;
    }

    .row .colonna{
        margin: 30px;
    }

    .row .first-col .card{
        min-width: 80%;
        min-height: 200px;
        /* max-height: 1000px; */
    }

    .row .colonna .card{
        min-height: 200px;
        /* max-height: 1000px; */
    }

    .card-image{
        margin-right: 50px;
         width: 250px;
    }

    .fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
        color: dodgerblue;
        font-size: 50px;
    }

    /* main sezione2 */
    .image1-planning, .image2-planningcard{
        margin-left: 5%;
        width: 90%;
    }

    /* sezione 3 */

    .container-testimonial{
        width: 90%;
        height: 400px;
        margin: auto;
        margin-top: 100px;
        /* margin-bottom: 100px; */
        background-color: rgb(151, 149, 225);
        color: white;
        border-radius: 20px;
    }

    .p-TESTIMONIALS{
        margin-left: 45%;
    }

    .container-testimonial{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .testimonial1{
        /* margin-top: 50px; */
        width: 100%;
        /* height: 250px; */
        /* border-radius: 60%; */
    }

    .p-testimonials{
        width: 90%;
        margin-top: 50px;
        font-size: 1.5rem;
        line-height: 50px;
        text-align: center;
    }

    /* main section 4 */
    #unioncard{
        display: flex;
        flex-wrap: wrap;
    }

    .container-cardbenefit{
       width: calc(80%/ 2);
    }

    /* main section 5 */
    .container-aboutus{
        display: flex;
    }

    #tablet-pc-left{
        width: 90%;
    }


}